<div id="alert-list">
    <div ng-if="!ctrl.hasMonths()">
        <h4>No month selected. Select a month to view messages.</h4>
    </div>
    <div ng-if="ctrl.hasMonths() && !ctrl.hasAlerts()">
        <h4>No alerts present for the current selection</h4>
    </div>
    <div ng-repeat="alert in ctrl.filterAlerts(ctrl.months)" id="alert-{{ $index+1}}" class="alert" ng-class="'alert-' + alert.severity">
        <span class="alert-month" >[{{ alert.month }}]</span>
        <span class="alert-message">{{ alert.message }}</span>
    </div>
</div>

