<!DOCTYPE html>
<html>
    <head>
        <script src="assets/jquery.js"></script>
        <script src="assets/angular.js"></script>
        <link rel="stylesheet" href="assets/bootstrap.css">
        <link rel="stylesheet" href="assets/app.css">
    </head>
    <body ng-app="app"  ng-controller="PageController as page">
        <!--[if lt IE 9]>
        <div class="alert alert-danger" role="alert">
        You appear to be using an old version of Internet Explorer (8 or lower). Angular 1.3 is not supported in IE8 and below. To see this demo you need to use at least Internet Explorer 9.
        </div>
        <![endif]-->
        <!--[if (gt IE 8)|!(IE)]><!-->
    <page>

        <div layout="page-header" class="myclass">
            <h1>Monthly Message System</h1>
        </div>

        <div layout="page-header">
            <panel>
                <panel-header>
                    <span class="h4">Add Alert</span>
                </panel-header>
                <panel-body>
                    <alert-add current-month="{{page.lastSelectedMonth}}"></alert-add>
                </panel-body>
            </panel>
        </div>

        <div layout="page-sidebar">
            <panel>
                <panel-header>
                    <input type="checkbox" ng-model="page.multiMode" />multi mode
                </panel-header>
                <panel-body>
                    <month-picker 
                        multi="{{page.multiMode}}"
                        selected="page.setSelectedMonths(months)"
                        last-selected="page.setLastSelectedMonth(month)">
                    </month-picker>
                </panel-body>
            </panel>
        </div>

<!--        <div layout="page-sidebar">
            <panel heading="Month picker">
                <month-picker 
                    multi="{{page.multiMode}}"
                    selected="page.setSelectedMonths(months)"
                    last-selected="page.setLastSelectedMonth(month)">
                </month-picker>
                <input type="checkbox" ng-model="page.multiMode" /> multi mode
            </panel>
        </div>-->

        <div layout="page-main">
            <panel heading="Alert List">
                <panel-header>
                    <span class="h4">Add Alert</span>
                </panel-header>
                <panel-body>
                    <alert-list months="page.selectedMonths"></alert-list>
                </panel-body>
            </panel>
        </div>

    </page>

    <script src="monthPicker.js"></script>
    <script src="page.js"></script>
    <script src="panel.js"></script>
    <script src="panelHeader.js"></script>
    <script src="panelBody.js"></script>
    <script src="alertList.js"></script>
    <script src="alertAdd.js"></script>
    <script src="pageController.js"></script>
    <script src="alertService.js"></script>
    <script src="app.module.js"></script>
    <!--<![endif]-->
</body>
</html>
